
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
@Html.Partial("~/Views/Layout/User/Head.cshtml")
<body>

    @Html.Partial("~/Views/Layout/User/Header.cshtml")<!-- #header -->

    @RenderBody()
    <!-- start footer Area -->
    @Html.Partial("~/Views/Layout/User/Footer.cshtml")
    <!-- End footer Area -->
    @Html.Partial("~/Views/Layout/User/JS.cshtml")
    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'd185ea1c-4db3-4740-ae1e-9dfad099b2ea', f: true }); done = true; } }; })();</script>
</body>
</html>







